.cover__background {
  /* background-image: url(../../../images/cover-route-66.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  opacity: 0.3;
}
