.places__text-container {
  margin-right: 40px;
  flex: 1 1;
  width: 100%;
}

@media screen and (max-width: 1279px) {
  .places__text-container {
    margin-right: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .places__text-container {
    margin-right: 28px;
  }
}
