@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  max-width: 1184px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .footer {
    max-width: 928px;
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer {
    max-width: 720px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media (max-width: 767px) {
  .footer {
    display: block;
    margin-left: 16px;
    margin-right: 16px;
  }
}
