.places__url-heading {
  font-size: 12px;
  line-height: 12px;
  color: #aaaaaa;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin-top: 0;
  margin-bottom: 12px;
}

@media screen and (max-width: 767px) {
  .places__url-heading {
    display: none;
  }
}
